*{
    margin: 0;
    padding: 0;
}
#heading{
    background-color: black;
    color: white;
}
h2{
    text-align: center;
    padding: 10px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 180px;
    gap: 50px;
}
img{
    width: 145px;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
   
} 

.choice{
    width: 160px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choice:hover{
    background-color: black;
    cursor: pointer;
}

#result{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 470px;
    font-size: 30px;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 50px;
    font-size: medium;
}

#score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 280px;
    margin-top: 60px;
    height: 200px;
     color: white;
    font-size: 15px;

}

.score{
    width: 100px;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

span{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
